.EnvironmentalConcerns {
  text-align: left;
  margin: 0 auto;
  width: 80%;
  padding: 10px;
  box-sizing: border-box;
  border: 1px dotted slategray;
}

.EnvironmentalConcerns ul {
  padding: 0px 8px;
  margin: 5px 0px;
}

.EnvironmentalConcerns li {
  list-style: none;
}

@media (max-width: 649px) {
  .EnvironmentalConcerns {
    width: 100%;
  }
}

@media (max-width: 499px) {
  .EnvironmentalConcerns {
    width: 100%;
  }
}
