.Navbar {
  width: 80%;
  margin: 0 auto;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1e3d6d;
  padding: 10px 12px 10px 20px;
  margin-bottom: 20px;
}

.Logo {
  height: 55px;
  width: 55px;
}

.Logo img {
  height: 80%;
}

@media (max-width: 649px) {
  .Navbar {
    width: 100%;
  }
}

@media (max-width: 499px) {
  .Navbar {
    width: 100%;
  }
}
