.Control {
  width: 80%;
  margin: 0 auto;
  height: auto;
  background-color: lightsteelblue;
  box-sizing: border-box;
  padding: 10px;
  border-radius: 4px;
  margin-top: 15px;
}

.Button {
  border: 0;
  margin: 5px;
  padding: 6px 13px;
  border-radius: 4px;
  font-size: 0.875rem;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 500;
  letter-spacing: 0.02857em;
  line-height: 1.75;
  min-width: 80px;
  cursor: pointer;
  box-sizing: border-box;
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
}

.Button:focus {
  outline: none;
}

.Button:disabled {
  background-color: #ffffff;
  color: rgba(0, 0, 0, 0.404);
  cursor: not-allowed;
}

.Less {
  background-color: #ff6969;
  color: white;
}

.More {
  background-color: #34fd88;
}

.Order {
  background-color: #f60257;
  color: white;
  font-size: 1.25rem;
  margin: 20px auto 10px auto;
}

.Controls {
  display: inline-block;
  width: 23%;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0.555);
  padding: 15px;
  border-radius: 4px;
  margin: 5px;
}

.IngName {
  text-transform: capitalize;
  background-color: #385685;
  color: white;
  padding: 10px;
  border-radius: 4px;
  margin: 5px 0px 15px 0;
}

@media (max-width: 649px) {
  .Control {
    width: 100%;
    margin-top: 0px;
  }

  .Controls {
    width: 40%;
  }

  .IngName {
    margin: 0px 0px 10px 0px;
    padding: 8px 10px;
  }

  .Button {
    margin: 3px;
  }
}

@media (max-width: 499px) {
  .Control {
    width: 100%;
    margin-top: 15px;
  }

  .Controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  .IngName {
    margin: 0px 5px 0px 0px;
    padding: 8px 10px;
  }

  .Button {
    margin: 3px;
  }
}
