.Form {
  margin: 20px 0px;
}

.Title {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 40vw;
  max-width: 300px;
  margin: 0px auto;
  font-weight: 500;
  font-size: 1.4rem;
  color: rgb(255, 98, 81);
}
