.Form {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 10px 0px 20px 0px;
}

.Form input {
  margin: 5px;
  padding: 8px 10px;
  outline: none;
  border: 1px solid grey;
  border-radius: 4px;
  width: 40vw;
  max-width: 300px;
}
