.Modal {
  position: fixed;
  z-index: 2;
  background-color: white;
  width: 50%;
  text-align: left;
  box-shadow: 3px 3px 15px rgba(114, 114, 114, 0.5);
  padding: 16px;
  left: 25%;
  top: 30%;
  border-radius: 4px;
  box-sizing: border-box;
  transition: all 0.3s ease-out;
}

.showModal {
  opacity: 1;
  z-index: 2;
  animation: show 0.2s;

  transform: scale(1);
}
@keyframes show {
  from {
    transform: scale(0);
    opacity: 0;
    z-index: -1;
  }
  to {
    transform: scale(1);
    opacity: 1;
    z-index: 2;
  }
}
